#carousel-container {
    overflow-x: hidden;
    padding-left: 5%;
    width: 100%;
    white-space: nowrap;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: flex-end;
}


.card {
    display: flex;
    align-items: end;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    
    flex: 0 0 170px;
    height: 170px;
    padding: 15px;
    margin-right: 10px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(142, 171, 217, 0.08) 0%, rgba(58, 71, 107, 0.8) 100%), url(../Rectangle\ 47.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.card:hover {
    flex: 0 0 170px;
    transform: translateY(-5px);
}

.card.clicked {
    flex: 0 0 180px;
    height: 180px;
    transform: translateY(0);
}