#carousel-container {
    overflow-x: hidden;
    padding-left: 8%;
    width: 100%;
    white-space: nowrap;
}

#carousel {
    display: flex;
    align-items: flex-end;
    transition: transform 0.5s ease-in-out;
    animation: slideInFromRight 0.8s ease-out;
}


.card {
    display: flex;
    align-items: end;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    
    flex: 0 0 170px;
    height: 170px;
    padding: 15px;
    margin-right: 10px;
    border-radius: 20px;
    /* background: linear-gradient(180deg, rgba(142, 171, 217, 0.08) 0%, rgba(58, 71, 107, 0.95) 100%), url(../Rectangle.png), lightgray 50% / cover no-repeat; */
    backdrop-filter: blur(10px);
    
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.bigCard{
    border-radius: 20px;
    display: flex;
    align-items: end;
    padding: 20px;
}
#bigCard{
    display: none;
    z-index: 2;
    align-items: end;
    height: 70%;
    width: 84%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
    transition: all 0.5s ease-in-out;
    animation: slideInFromRight 0.5s ease-out;
    cursor: pointer;
}

.card:hover {
    flex: 0 0 170px;
    transform: translateY(-5px);
}

.card.clicked {
    flex: 0 0 180px;
    height: 180px;
    transform: translateY(0);
}