@media screen and (max-height: 650px){
    .message {
        height: 45%;
    }
}

@media screen and (max-height: 719px) {
    .header {
        height: 4rem;
    }

    .navbar {
        max-height: 60px;
        padding-bottom: 10px;
    }

    .nav {
        grid-template-rows: 1fr 0.2fr;
        max-height: 260px;
    }
}

@media screen and (min-height: 800px) {

    .header p{
        font-size: 2.5rem;
    }
    .message{
        font-size: 1.2rem;
    }
    .card {
        flex: 0 0 210px;
        height: 210px;
    }

    .card:hover {
        flex: 0 0 210px;
    }

    .card.clicked {
        flex: 0 0 220px;
        height: 220px;
    }
}